In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import expr

In [0]:
students_data = [
    Row(student_id=1, name="Aryan", dept_id=101),
    Row(student_id=2, name="Priya", dept_id=102),
    Row(student_id=3, name="Rahul", dept_id=103),
    Row(student_id=4, name="Ananya", dept_id=104),
    Row(student_id=5, name="Karan", dept_id=None),
]

In [0]:
df=spark.createDataFrame(students_data)
df.show()

+----------+------+-------+
|student_id|  name|dept_id|
+----------+------+-------+
|         1| Aryan|    101|
|         2| Priya|    102|
|         3| Rahul|    103|
|         4|Ananya|    104|
|         5| Karan|   null|
+----------+------+-------+

In [0]:
departments_data = [
    Row(dept_id=101, dept_name="Computer Science"),
    Row(dept_id=102, dept_name="Mathematics"),
    Row(dept_id=103, dept_name="Physics"),
    Row(dept_id=105, dept_name="Chemistry"),
]

In [0]:
df2 = spark.createDataFrame(departments_data)

In [0]:
df2.show()

+-------+----------------+
|dept_id|       dept_name|
+-------+----------------+
|    101|Computer Science|
|    102|     Mathematics|
|    103|         Physics|
|    105|       Chemistry|
+-------+----------------+

Lets Perform Joins

In [0]:
renamed_df = df2.withColumnRenamed("dept_id","Department")

In [0]:
join_expr =df.dept_id == renamed_df.Department

In [0]:
df.join(df2, join_expr ,"inner")\
    .select("*")\
        .show()

+----------+-----+-------+-------+----------------+
|student_id| name|dept_id|dept_id|       dept_name|
+----------+-----+-------+-------+----------------+
|         1|Aryan|    101|    101|Computer Science|
|         2|Priya|    102|    102|     Mathematics|
|         3|Rahul|    103|    103|         Physics|
+----------+-----+-------+-------+----------------+

In [0]:
df.join(df2, join_expr ,"outer")\
    .select("*")\
        .sort("student_id")\
            .show()

+----------+------+-------+-------+----------------+
|student_id|  name|dept_id|dept_id|       dept_name|
+----------+------+-------+-------+----------------+
|      null|  null|   null|    105|       Chemistry|
|         1| Aryan|    101|    101|Computer Science|
|         2| Priya|    102|    102|     Mathematics|
|         3| Rahul|    103|    103|         Physics|
|         4|Ananya|    104|   null|            null|
|         5| Karan|   null|   null|            null|
+----------+------+-------+-------+----------------+

In [0]:
df.join(renamed_df, join_expr ,"left")\
    .select("*")\
         .withColumn("Department", expr("coalesce(Department, dept_id)"))\
             .sort("student_id")\
            .show()

+----------+------+-------+----------+----------------+
|student_id|  name|dept_id|Department|       dept_name|
+----------+------+-------+----------+----------------+
|         1| Aryan|    101|       101|Computer Science|
|         2| Priya|    102|       102|     Mathematics|
|         3| Rahul|    103|       103|         Physics|
|         4|Ananya|    104|       104|            null|
|         5| Karan|   null|      null|            null|
+----------+------+-------+----------+----------------+