In [0]:
from pyspark.sql import functions

In [0]:
data = [
    ("moksh",23,"Student") ,
    ("vaidehi",24,"Student") ,
    ("nivedita",21,"Student") ,
    ("rahul",27,"working"), 
    ("rahul" ,27 , None)
]
schema=("Name","Age","Occupation")
df = spark.createDataFrame(data,schema)

df.show()

+--------+---+----------+
|    Name|Age|Occupation|
+--------+---+----------+
|   moksh| 23|   Student|
| vaidehi| 24|   Student|
|nivedita| 21|   Student|
|   rahul| 27|   working|
|   rahul| 27|      null|
+--------+---+----------+

Lets Create UDF to Captitalize the Name

1st Step - Creating a python function

In [0]:
def capitalize(Name):
    if Name:
       return Name.capitalize()

2nd Step - Now Convert it to UDF

In [0]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

capitalize_udf = udf(capitalize,StringType())

3rd Step Calling UDF with Df

In [0]:
df2 = df.withColumn("Newer_Name", capitalize_udf("Name")) \
        .withColumn("Occupation_New", capitalize_udf("Occupation"))
df2.show()

+--------+---+----------+----------+--------------+
|    Name|Age|Occupation|Newer_Name|Occupation_New|
+--------+---+----------+----------+--------------+
|   moksh| 23|   Student|     Moksh|       Student|
| vaidehi| 24|   Student|   Vaidehi|       Student|
|nivedita| 21|   Student|  Nivedita|       Student|
|   rahul| 27|   working|     Rahul|       Working|
|   rahul| 27|      null|     Rahul|          null|
+--------+---+----------+----------+--------------+

In [0]:
df2 = df2.drop("Name") \
         .dropna(subset=["Occupation_New"]) \
         .dropDuplicates(["Newer_Name", "Occupation_New"])

df2.show()

+---+----------+----------+--------------+
|Age|Occupation|Newer_Name|Occupation_New|
+---+----------+----------+--------------+
| 23|   Student|     Moksh|       Student|
| 21|   Student|  Nivedita|       Student|
| 27|   working|     Rahul|       Working|
| 24|   Student|   Vaidehi|       Student|
+---+----------+----------+--------------+